body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  font-size: 10px;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: gray;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.imgcontainer{
    text-align:center;
    margin: 24px 0 12px 0;
}
img.avatar{
    width:100px;
    height:100px;
    border-radius:10%;
    shadow:10px;
    
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color:darkgreen;
}

#password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: green;
}