body{
    background-color:white;
}
.wrap{
    width:600px; 
    height: 500px;
    
}
a{
    background-color: beige;
    color: black;
    text-align:center;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    width:50px;
    
    
}
.con{
    width:250px;
    height:30px;
    background-color:white;
    text-align:center;
    font-size:12px;
    display:in-line block;
    margin-left:20px;
    margin-top:30px;
    color: solid black;
    font-weight: bold;
}
p{
    color:black;
    font-size:10px;
    padding-top:10px;
}